---
---

<div
  class="px-4 md:px-60 2xl:px-80 bg-rose-700 py-8 flex flex-col justify-center items-center gap-10 border-b-4 border-blue-500"
>
  <div class="text-yellow-400 text-7xl font-black">Icode Challenges Solutions</div>
  <div class="font-semibold text-2xl">
    Developed and built by <span
      class="font-bold underline underline-offset-8 decoration-blue-600 text-green-500 hover:bg-blue-600 hover:text-orange-200 rounded-lg px-2"
      ><a href="https://jsvigneshkanna.netlify.app/" target="_blank" rel="noopener noreferrer">JS Vignesh Kanna</a
      ></span
    >
  </div>
</div>
