---
---

<div
  class="px-4 md:px-60 2xl:px-80 bg-pink-700 py-10 flex flex-col justify-center items-center gap-10 border-b-4 border-blue-500"
>
  <div class="text-yellow-300 text-7xl font-black">Icode Challenges Solutions</div>
  <div class="font-semibold text-2xl text-slate-300">
    Developed and built by <span
      class="font-bold underline underline-offset-8 decoration-blue-700 text-white hover:bg-purple-700 hover:text-orange-200 rounded-lg px-2"
      ><a href="https://jsvigneshkanna.netlify.app/" target="_blank" rel="noopener noreferrer">JS Vignesh Kanna</a
      ></span
    >
  </div>
</div>
