---
---

<div
  class="bg-purple-700 border-b-4 border-blue-500 h-[8vh] flex flex-row justify-between items-center px-4 md:px-60 2xl:px-80"
>
  <!-- Logo -->
  <img
    src="/vk-round-logo_transparent.png"
    alt="vk logo"
    class="w-8 h-8 md:w-12 md:h-12 object-cover shadow-md shadow-orange-600 rounded-full"
  />

  <!-- Nav links -->
  <div class="flex flex-row gap-10 uppercase font-semibold">
    <a href="/" class="hover:underline underline-offset-4 decoration-blue-500 decoration-4">home</a>
    <a href="/aboutme" class="hover:underline underline-offset-4 decoration-blue-500 decoration-4">about me</a>
    <a
      href="https://github.com/jsvigneshkanna/icode_challenges"
      target="_blank"
      rel="noreferrer"
      class="hover:underline underline-offset-4 decoration-blue-500 decoration-4">github</a
    >
  </div>
</div>
