---
import BaseLayout from "../../layout/baseLayout.astro";
---

<BaseLayout title="Pricing Card">
  <div
    class="min-h-screen flex-col flex justify-center items-center py-10 bg-gradient-to-br from-slate-100 to-zinc-200 text-black"
  >
    account
  </div>
</BaseLayout>
