---
import BaseLayout from "../../layout/baseLayout.astro";
---

<BaseLayout title="Analytic Chart">
  <div
    class="min-h-screen flex-col flex justify-center items-center py-12 bg-gradient-to-tr from-slate-200 to-slate-300 text-black"
  >
    countdown
  </div>
</BaseLayout>
