---
import BaseLayout from "../../layout/baseLayout.astro";
---

<BaseLayout title="Facebook Login form">
  <div class="min-h-[75vh] bg-slate-200 flex justify-center items-center"></div>
</BaseLayout>
