---
import BaseLayout from "../../layout/baseLayout.astro";
---

<BaseLayout title="Kanban Board">
  <div
    class="min-h-screen flex-col flex justify-center items-center py-6 bg-gradient-to-tr from-sky-50 to-red-100 text-black"
  >
    fafa
  </div>
</BaseLayout>
