---
import BaseLayout from "../../layout/baseLayout.astro";
---

<BaseLayout title="Kanban Board">
  <div
    class="min-h-screen flex-col flex justify-center items-center py-6 bg-gradient-to-r from-yellow-100 to-orange-100 text-black"
  >
    <!-- widget panel -->
    <div class="min-w-[320px] md:min-w-[420px] bg-white flex-col flex justify-center items-center">
      <!-- top border gradient color -->
      <div class="w-full h-2 bg-gradient-to-r from-purple-600 to-sky-500"></div>
      <div class="w-full h-96 bg-lime-100/50 shadow-lg shadow-lime-800/50 px-4 py-5">
        <h2 class="text-blue-800 font-semibold text-lg">In progress</h2>

        <!-- kanban card -->
        <div class="w-full bg-white/90 text-black">fafa</div>
      </div>
    </div>
  </div>
</BaseLayout>
