---
import BaseLayout from "../../layout/baseLayout.astro";
---

<BaseLayout title="Mega menu">
  <div class="min-h-[75vh] bg-slate-100/80 flex justify-center items-center text-black">
    <!-- Menu panel -->
    <div
      class="min-w-[80%] rounded-sm shadow-lg shadow-slate-600/30 bg-white p-10 flex flex-col md:flex-row justify-center items-center"
    >
    </div>
  </div>
</BaseLayout>
