---
import BaseLayout from "../../layout/baseLayout.astro";
---

<BaseLayout title="Project Card">
  <div
    class="min-h-screen flex-col flex justify-center items-center py-10 bg-gradient-to-br from-slate-900 to-blue-900 text-white"
  >
    fafa
  </div>
</BaseLayout>
