---
import BaseLayout from "../../layout/baseLayout.astro";
---

<BaseLayout title="Kanban Board">
  <div
    class="min-h-screen flex-col flex justify-center items-center py-6 bg-gradient-to-r from-yellow-100 to-orange-100 text-black"
  >
    faffa
  </div>
</BaseLayout>
