---
import BaseLayout from "../../layout/baseLayout.astro";
---

<BaseLayout title="songcard">
  <div
    class="min-h-screen flex-col flex justify-center items-center py-20 bg-gradient-to-br from-pink-200 to-blue-200 text-black"
  >
    fafa
  </div>
</BaseLayout>
