---
import BaseLayout from "../../layout/baseLayout.astro";
---

<BaseLayout title="User Profiles">
  <div
    class="min-h-screen flex-col flex justify-center items-center py-12 bg-gradient-to-br from-emerald-300 to-purple-300 shadow-lg shadow-slate-800/50 text-black"
  >
    gaga
  </div>
</BaseLayout>
