---
import BaseLayout from "../../layout/baseLayout.astro";
---

<BaseLayout title="Video Player">
  <div
    class="min-h-screen flex-col flex justify-center items-center py-12 bg-gradient-to-br from-orange-200 to-blue-200 shadow-lg shadow-slate-800/50 text-black"
  >
    agaggag
  </div>
</BaseLayout>
