---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
}
const TITLE = Astro.props.title;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/vk-round-logo_transparent.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>VK: {TITLE}</title>
  </head>
  <body class="bg-purple-600 min-h-screen text-white">
    <Navbar />
    <div class="min-h-[70vh]">
      <slot />
    </div>
    <Footer />

    <script is:inline>
      // JS part

      // start of Individual user card JS Part
      const showMoreBtnEle = document.getElementById("show-more-btn");
      const showMoreSectionEle = document.getElementById("show-more-section");
      showMoreBtnEle.addEventListener("click", () => {
        showMoreSectionEle.classList.toggle("hidden");
      });
      // end of Individual user card JS Part
    </script>
  </body>
</html>
